.mine{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; // 水平居中
    align-items: center; // 垂直居中
    background-color: rgb(230, 201, 255);
    height: 100%;
}
.card{
    // margin-top: 20px;
    margin-bottom: 20px;
    // margin: auto;
    width: 95%;
    border-radius: 20px;
    background-color: rgb(250, 241, 228);
}
.login-card{
    @extend .card;
    margin-top: 20px;
    height: 300px;
    display: flex; /* 设置为 Flexbox 布局 */
    flex-direction: row; /* 使子元素在一行内排列 */
    align-items: center; /* 垂直居中对齐 */
    // padding: 20px; /* 添加内边距以增加间距 */
}
.setting-card{
    @extend .card;
    height: 500px;
}
.login-font{
    font-size: 40px; /* 字体大小 */
    margin-left: 15%;
    // font-weight: bold; /* 加粗字体 */
}
.avatar-container {
    // margin: auto;
    // margin-top: 20px;
    // margin-bottom: 20px;
    margin-left: 15%;
    width: 150px; /* 头像的宽度 */
    height: 150px; /* 头像的高度 */
    overflow: hidden; /* 溢出隐藏 */
    border-radius: 50%; /* 圆形 */
    display: flex; /* 使用 Flexbox 中心对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    background-color: #f0f0f0; /* 背景色（可以根据需要调整） */
    .avatar {
        width: 100%; /* 填充整个容器 */
        height: 100%; /* 填充整个容器 */
        object-fit: cover; /* 保持图像比例，裁剪 */
    }
}
